nav {
    background-image: url('../assets/gradienta-m_-1_v4hs5p.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 7rem;
  }

  nav .flex > div:last-child {
    margin-left: auto;
  }

  .banner {
    object-fit: cover;
    height: 245px;
  }
  
  .burgerMenu {
    background-image: url('../assets/gradienta-m_-1_v4hs5p.svg');
    background-size: cover;
  }

  .NFT {
    width: 250px;
  }

  .footHead {
    font-size: 3rem;
  }

  